<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Todolist" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class="container mt-3">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="mb-0">Todolist</h1>
        <!-- Botão de Logout -->
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-danger btn-sm" %>

      </div>
    </div>

    <div class="container mt-5">
      <%= yield %>
    </div>
  </body>
</html>
